@{
    ViewBag.Title = "Error";
}
<div style="text-align:center">
    <h1 class="text-danger">Error.</h1>
    <img style="width:100%" src="https://knightslol.org/images/403_Error.png" />
    <h2 class="text-danger">An error occurred while processing your request.</h2>
</div>