@{
    ViewBag.Title = "Error";
}
<div style="text-align:center">
    <h1 class="text-danger">Error.</h1>
    <img src="https://cdn1.iconfinder.com/data/icons/rcons-user-action/512/notice_users_group-512.png" />
    <h2 class="text-danger">An error occurred while processing your request.</h2>
</div>