@{
    ViewBag.Title = "Error";
}
<div style="text-align:center">
    <h1 class="text-danger">Something went wrong.</h1>
    <img src="http://i1204.photobucket.com/albums/bb414/Atanas_Dachenski/NaskoRestaurant/404_zps6eg01yq4.png" />
    <h2 class="text-danger">The page you are looking for was not found.</h2>
</div>