
.body-content{
    font-size:18px;
}

#chef-add {
    position: fixed;
    top: 50%;
    height: 900px;
    width: 15%;
    left: -600px;
    width: 600px;
    z-index: 9;
}

#close-button {
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 11;
    width: 30px;
}

    #close-button:hover {
        width: 40px;
    }

#chef-add > div:first-of-type {
    position: absolute;
    z-index: 10;
    font-size: 20px;
    width: 35%;
    right: 5%;
    top: 5%;
}

#chef-add > img:last-of-type {
    position: absolute;
    width: 100%;
}

.scroll-left {
    top: 6%;
    left: 2%;
}

.scroll-right {
    top: 6%;
    right: 2%;
}

.scroll {
    position: fixed;
    height: 900px;
    width: 15%;
    display: none;
}

    .scroll img {
        min-height: 100%;
        width: 100%;
        position: absolute;
    }

    .scroll div {
        position: absolute;
        top: 12%;
        padding: 10px;
        max-height: 100%;
    }
