* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
clear:both;
}

form {
    height: 100%;
}
.modalImg{
    visibility:hidden;
}
.container-fluid{
    height:430px !important;
}
.modal-container{

	height:430px !important;
    /*background-image:url("http://photos4.meetupstatic.com/photos/event/d/2/3/4/600_430133812.jpeg")*/
}
#chef{
    height:200px;
    left:-200px;
}
#modalScroll{
    left:-30px;
    visibility:visible !important;
  
}
#video-modal{
    opacity:0.7 !important;
}
#naskosRestaurant{
    width: 300px;
    margin-left: 250px;
    margin-top: 250px;
}
#date-div{
    position:absolute;
    top:45%;
    left:5% !important;
}
#time-div{
   position:absolute;
   top:85%;
   left:5% !important;
}
div>h2{
    font-size:22px !important;
}
.no-modal{
     margin-top:100px;
}




