* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
clear:both;
}
.body-content{
    padding-left:10px !important;
    padding-right:10px !important;
}

form {
    height: 100%;
}
.modalImg{
    display:none;
}
.container-fluid{
    height:430px !important;
}
.modal-container{

	height:430px !important;
    /*background-image:url("http://photos4.meetupstatic.com/photos/event/d/2/3/4/600_430133812.jpeg")*/
}
#chef{
    height:415px !important;
    padding-left:0 !important;
}
#modalScroll{
    
    visibility:visible !important;
    width: 60px;
    position: absolute;
    left: -30px;
    transform: rotate(180deg);
  
}
.left-scroll{
    display:none !important;
}

#chef-add{
    width:350px !important;
}
 #chef-add > div:first-of-type{
     top:2% !important;
     font-size:12px !important;
 }

#naskosRestaurant{
    width: 300px;
    top:250px;
    
}
#date-div{
    position:absolute;
    top:45%;
    left:5% !important;
}
#time-div{
   position:absolute;
   top:85%;
   left:5% !important;
}
div>h2{
    font-size:22px !important;
}
.no-modal{
     margin-top:100px;
}




