.upload-resume {
    margin: 20px;
    padding: 20px;
    background-color: black;
    opacity: 0.7;
    color: white;
    font-size: 22px;
    font-family: calibri;
    text-align: center;
    cursor: pointer;
    width: 95%;
}
.btn-info{
    margin-bottom:10px;
}

h1, h2 {
    text-align: center;
}

.resume-alert {
    font-size: 22px;
    margin-top: 20px;
    width: 100%;
}

legend {
    margin: 10px;
    padding: 10px;
}

#application-wrapper {
    margin: 50px;
    padding: 0px;
    background-color: lightgray;
}

.reserve-label {
    margin: 10px;
    font-size: 18px;
}

.right {
    float: right;
}

.max {
    width: 65% !important;
}

.min {
    width: 15% !important;
}

.upload-warning {
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 10px;
    font-weight: 900;
}

.reserve-input {
    min-width: 100px;
    width: 35%;
    margin: 10px;
    padding: 3px;
    font-size: 18px;
    border: 0;
}

    .reserve-input:focus {
        background-color: lightblue;
        outline: 0;
    }

.div-warning {
    font-size: 18px;
    padding-left: 20%;
}
