body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width:280px;
}


/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
    top: 0;
    width: 100%;
    opacity:0.8;
}

    .affix {
    }
    .container-fluid {
        padding-top: 70px;
        height:600px;
        width:100%;
        padding:20px
    }

.modal-content {

	border: 0;
	text-align: left;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #314459;
}

.modal-container{
    position:absolute;
    top:0%;
	                left:0%;
	                height:600px;
	                width:100%;
	                overflow: hidden;
                   
}
.modal-header {
	padding: 25px 25px 15px 25px;
	background: #fff;
	border: 0;
	border-bottom: 1px solid #ddd;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
}

.modal-header .close {
	font-size: 36px;
	color: #888;
	font-weight: 300;
	text-shadow: none;
	opacity: 1;
}

.modal-title {
	margin-bottom: 10px;
	line-height: 30px;
}

.modal-body {
	padding: 25px 25px 30px 25px;
	background: #eee;
	text-align: left;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
}
.wrap{
    position:absolute; 
    left:50%;
    width:100%;
    float:left;
    display:block;
}
#modalScroll {
    left:-30px;
    width:70px;
    transform: rotate(180deg);
	visibility:hidden;
}
.modalImg{
    top:485px;
    width:auto;
    max-width:200px
}

.modal-body form textarea {
	height: 100px;
}

.modal-body form .input-error {
	border-color: #399599;
}
.reservation-form{
    font-size:22px;
    font-family:'Times New Roman', Times, serif;
    padding-left:12px;
    font-weight:900;
}