@model IEnumerable<Restorant.Web.ViewModels.Jokes.JokeViewModel>

<div>
    <h1>Random Jokes</h1>
    @foreach (var joke in Model)
    {
        <h4>
            @joke.Content
        </h4>
        <br>
    }

    <form style="background-color:lightgray;
                width:100%;
                padding-bottom:10px;
                text-align:center">
        <label style="font-size:18px">Joke vote</label>
        <br />
        Good
        <input type="radio" name="vote" value="Good" />
        Bad
        <input type="radio" name="vote" value="Bad" />
        <br />
        <input type="submit" value="subit" />
    </form>
</div>