@section Styles {
    <link href="~/Content/dzen-section.css" rel="stylesheet" type="text/css" />
}
<h1>Lorem ipsum</h1>
<p>
    Consectetur adipisicing elit. Molestias, molestiae, asperiores iure ducimus
    itaque delectus quasi! Qui, deleniti, harum, magni blanditiis quasi
    reprehenderit earum quam tempore asperiores exercitationem dignissimos
    accusantium ipsam laudantium animi possimus ducimus pariatur provident
    numquam eveniet reiciendis. Libero, rem pariatur quos nobis cupiditate
    mollitia hic sunt totam.
    Dolor sit amet, consectetur adipisicing elit. Voluptas accusamus delectus
    explicabo officia laboriosam. Proin lacinia erat quam.
</p>
<p>
    Distinctio, laudantium minima hic corrupti libero!
    Nullam ut ultricies velit. Nunc nec magna lectus. Aliquam et accumsan elit,
    dictum blandit nulla. Suspendisse fringilla bibendum mauris. Proin lacinia erat
    quam, ac vulputate velit aliquet sit amet. Vestibulum cursus finibus enim sit
    amet dictum. Morbi nec sem a est imperdiet pellentesque at id risus. In lacinia,
    orci non semper rhoncus, augue velit tincidunt lacus, non varius lectus odio quis
    mauris. Donec feugiat arcu non elit laoreet, a maximus tellus porttitor.
</p>
<h1>Dolor sit amet</h1>
<p>
    Ipsum, tempore, itaque dolorum sint reiciendis mollitia sed aperiam fugit est dolorem quos
    asperiores laborum veniam. In earum ut porro omnis veniam pariatur quaerat architecto atque itaque?
    Ipsum dolor sit amet, consectetur adipisicing elit. Culpa, voluptatum, veritatis, laudantium
    officia maxime tempora molestias est sunt iure vel blanditiis reprehenderit repellat amet
    dolorem eaque alias beatae nihil aliquid officiis possimus labore consectetur neque dolorum
    itaque libero accusantium odio.
</p>

<section class="dzen_section_DD ">
    <div class="dzen_bg">
        <h1 style="text-align:center; color:white; text-shadow:5px 5px #14ad27;"> Enjoy our Menu</h1>
        <div class="dzen_container">
            <div class="dzen_column_DD_span3 ">
                <div class="dzen_service_box dzen_service_box_round ">
                    <div>
                        <a href="/GetReservations/IndexReservations">
                            <div class="dzen_icon_boxed">
                                <i class="glyphicon glyphicon-inbox"></i>
                            </div>
                        </a>
                        <h3>My Reservations </h3>
                    </div>
                </div>
            </div>
            <div class="dzen_column_DD_span3 ">
                <div class="dzen_service_box dzen_service_box_round ">
                    <div>
                        <a href="/CommentForm/Create">
                            <div class="dzen_icon_boxed">
                                <i class="glyphicon glyphicon-comment"></i>
                            </div>
                        </a>
                        <h3>Live a Feedback </h3>
                    </div>
                </div>
            </div>
            <div class="dzen_column_DD_span3 ">
                <div class="dzen_service_box dzen_service_box_round ">
                    <div>
                        <a href="/Reservation/Create">
                            <div class="dzen_icon_boxed">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </div>
                        </a>
                        <h3>Reservation</h3>
                    </div>
                </div>
            </div>
            <div class="dzen_column_DD_span3 ">
                <div class="dzen_service_box dzen_service_box_round ">
                    <div>
                        <a href="/Contact/Index">
                            <div class="dzen_icon_boxed">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </div>
                        </a>
                        <h3>Contact Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<h1>Dolor sit amet</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fermentum purus sit
    amet ante sagittis venenatis eu in elit. Duis eu tortor est. Aliquam erat volutpat.
    Phasellus et vestibulum nunc. Curabitur sed luctus nulla, quis dictum libero.
    Nunc sagittis volutpat leo, eget efficitur purus vehicula a. Nullam dictum vitae
    odio in fermentum. Nunc libero purus, pellentesque nec lectus eu, pretium elementum
    nisl. Morbi sed elit a orci tincidunt ultrices vitae ac est. Morbi pretium venenatis
    metus id feugiat. Fusce commodo ante quam, non ultrices arcu tristique at. Sed efficitur
    rutrum vestibulum. Pellentesque ultrices leo ac neque tempor, eu accumsan ex placerat.
    Ut turpis dolor, convallis vitae enim in, sodales sollicitudin nulla. In vel consequat nunc.
    Ipsum, tempore, itaque dolorum sint reiciendis mollitia sed aperiam fugit est dolorem quos asperiores laborum veniam. In earum ut porro omnis veniam pariatur quaerat architecto atque itaque?
</p>
<h1>Lorem Ipsum</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fermentum purus sit
    amet ante sagittis venenatis eu in elit. Duis eu tortor est. Aliquam erat volutpat.
    Phasellus et vestibulum nunc. Curabitur sed luctus nulla, quis dictum libero.
    Nunc sagittis volutpat leo, eget efficitur purus vehicula a. Nullam dictum vitae
    odio in fermentum. Nunc libero purus, pellentesque nec lectus eu, pretium elementum
    nisl. Morbi sed elit a orci tincidunt ultrices vitae ac est. Morbi pretium venenatis
    metus id feugiat. Fusce commodo ante quam, non ultrices arcu tristique at. Sed efficitur
    rutrum vestibulum. Pellentesque ultrices leo ac neque tempor, eu accumsan ex placerat.
    Ut turpis dolor, convallis vitae enim in, sodales sollicitudin nulla. In vel consequat nunc.

    Nullam ut ultricies velit. Nunc nec magna lectus. Aliquam et accumsan elit,
    dictum blandit nulla. Suspendisse fringilla bibendum mauris. Proin lacinia erat
    quam, ac vulputate velit aliquet sit amet. Vestibulum cursus finibus enim sit
    amet dictum. Morbi nec sem a est imperdiet pellentesque at id risus. In lacinia,
    orci non semper rhoncus, augue velit tincidunt lacus, non varius lectus odio quis
    mauris. Donec feugiat arcu non elit laoreet, a maximus tellus porttitor.

    Suspendisse faucibus interdum mauris non viverra. Etiam nec libero mauris.
    Vestibulum semper odio at lorem lobortis volutpat et vel nibh. Maecenas sit amet
    magna ut libero feugiat dignissim. Nam accumsan vitae dui a venenatis. Praesent
    maximus volutpat nulla, ut egestas massa iaculis vel. Fusce fringilla nibh sit
    amet mauris blandit feugiat.
</p>  