@*@model IEnumerable<Restorant.Web.ViewModels.Home.IndexBlogPostViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    @foreach (var post in Model)
    {
        <div class="row">
            <div class="col-md-1">
                <div class="well text-center">
                    <div class="row">0</div>
                    <div class="row">answers</div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="well text-center">
                    <div class="row">0</div>
                    <div class="row">answers</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <h4>
                        <a href="/123/asd-asd-asd">@post.Title</a>
                    </h4>
                </div>
                <div class="row">
                    <p>asked 35 minutes ago in Kids Academy - програмиране за деца by a.dimitrov04 (40 points)</p>
                </div>
                <div class="row">
                    <span class="label label-default">kids</span>
                    <span class="label label-default">academy</span>
                    <span class="label label-default">blabla</span>
                    <span class="label label-default">kadasdaasdasdasdids</span>
                </div>
            </div>
        </div>
        <hr />
    }
</div>
<h1>
    Coding Everything: Bootstrap Docs Sidebar Explained
    www.codingeverything.com/2014/02/BootstrapDocsSideBar.html
    Feb 28, 2014 - Here are the results of dissecting Bootstrap's Doc's side nav bar. Simple Content. This really works best with some content to scroll through, so let' just start by ... Now we need to create a two column layout for our page. ..... First, let's give the navbar a little breathing room by giving it margins on the top, left,  ...
    Bootstrap Scrolling Table with Fixed Header example code
    www.bootply.com/JnOYtO9xzn
    Bootstrap Bootstrap Scrolling Table with Fixed Header code example snippet ... Basic starter; Fixed Nav w/sticky footer; Carousel layout; Landing page; Affix left  ...
    Bootstrap UI Development for Everyone | Udemy
    https://www.udemy.com/bootstrap-for-everyone/
    Rating: 4.2 - ‎11 votes
    Learn how to work with the Bootstrap Framework to create responsive websites for any device. ... Net developer who understands that Bootstrap is now built-in to the MVC ... ·Tooltips, Popovers, Modal Dialogs and Affixed sections .... In this lecture we "live-code" our first page that sets up the framework for using bootstrap.
    Create an Angular App in Seconds with Hot Towel
    www.johnpapa.net/hot-towel-angular/
    Oct 31, 2013 - So I included what I have found to be most helpful in kick-starting my apps. ... a good way to create a subnav for sidebar that would act just like the ... to a separate page on the MVC site which allows them to authenticate, ... Bootstrap 3 and UI-Bootstrap still have some incompatibilities. .... 1) Affixed Sidebar
    Searches related to how to set affix bootstrap first page only mvc
    bootstrap affix css
    bootstrap affix sidebar example
    bootstrap affix not working
    bootstrap affix navbar
    bootstrap affix bottom not working
    affix.js download
    angular affix
    bootstrap affix.js

</h1>*@

<div class="container-fluid" style="height:1000px;z-index:10">
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
    <h1>Some text to enable scrolling</h1>
</div>