@using Microsoft.AspNet.Identity

    @if (User.Identity.IsAuthenticated)
    {
        <div class="alert alert-success resume-alert" role="alert">
            <strong>@Html.ActionLink("Hi " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) </strong>  Please compleate your Form.
        </div>

    }
    else
    {
        <div class="alert alert-danger resume-alert" role="alert">
            <p><strong>Please Login to complete your Form</strong></p>
        </div>
    }
