<style>
    input{
        max-width: 400px;
        margin:20px;
    }
</style>
<h1>Upload resume to compleate your application</h1>
<h4>Step 2 of 2</h4>
@using (Html.BeginForm("Index", "UploadResume", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    <input type="file" name="file" class="form-control" />
    <input type="submit" class="btn btn-info" value="Upload Resume"/>
}